html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

footer {
  margin-top: auto;
}
.service-info {
  width: 40%;
}
.card-body {
  display: flex;
}
.service-image {
  width: auto;
  height: 150px;
}
.contcolor {
  height: 20vh;
}
.contcolor h1 {
  font-family: "Bowlby One SC", sans-serif;
  font-weight: 400;
  font-style: italic;
  background: linear-gradient(to right, red, green);
  background-clip: text;
  -webkit-background-clip: text; /* El degradado se aplica solo al texto */
  -webkit-text-fill-color: transparent; /* Hace el texto transparente para mostrar el degradado */
}
.express {
  font-family: "Josefin Sans", sans-serif;
  font-size: 200%;
  font-style: italic;
}
.images {
  width: 60%;
  height: 90%;
  justify-content: center;
}
#menu {
  background-color: rgb(40, 38, 38);
}
.contexto2 {
  background-color: #aba49b;
}
.conteFooter {
  background-color: black;
  justify-content: end;
}
.boton {
  background-color: rgb(57, 215, 139);
}
.copyright {
  background-color: rgba(0, 0, 0, 0.2);
}

.logo{
    color: white;
    
}
.imagen_comunicado{
  width: 70%;
  height: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}