/*.carousel-image {
    min-height: 300px;
    height: 70vh;  Ajusta la altura según necesites 
    object-fit: cover; Esto asegura que la imagen se ajuste bien sin distorsión 
    }*/ 
.contcolor{
    
    height: 20vh;

}
.contcolor h1{
    font-family: "Bowlby One SC", sans-serif;
    font-weight: 400;
    font-style: italic;
    background: linear-gradient(to right, red, green);
    background-clip: text;
    -webkit-background-clip: text; /* El degradado se aplica solo al texto */
    -webkit-text-fill-color: transparent; /* Hace el texto transparente para mostrar el degradado */
    }
.express{
    font-family: "Josefin Sans", sans-serif;
    font-size: 200%;
    font-style: italic;
    
}
.imagen2{
    width: 60%;
    height: 90%;
    justify-content: center;
}
#menu{
    background-color: rgb(5, 5, 5);
}
.contexto2{
    background-color: #aba49b;
}
.conteFooter{
    background-color: black;
}
.boton{
    background-color: rgb(57, 215, 139);
}
.copyright{
    background-color: rgba(0, 0, 0, 0.2);
}